@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}


.topMessage {
    background-color: lightgray;
    padding: 10px 10px;
}

.topMessage h1{
    font-size: 14px;
    color: steelblue;
    
}

.topMessage a{
    text-decoration: none;
}



