@charset "utf-8";

/* Reset Style */
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: block;
}

a:hover {
    text-decoration: none;
}

img {
    display: block;
}

/* Main */

.topMessage {
    background-color: #eee;
    /* padding: 10px 8px; */
    vertical-align: middle;
    display: flex;
    border-bottom: 1px solid rgb(216, 213, 213);
}

.topMessage h1{
    font-size: 15px;
    color: #1075bf;
    font-weight: bold;
    margin: 10px 8px;
    display: block;
    line-height: 1.3;
}

.glyphicon-chevron-right {
    color: #666;
    margin: 8px 8px auto auto;
    line-height: 1.3;
    vertical-align: middle;
}

.topNav {
    background-color: #CF1E21; /*#d8161f  #CF1E21*/
    display: flex;
    height: 45px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.topNav-left img{
    width: 60px;
    height: 20px;
    margin: 13px 29px 12px 5px;
}

.topNav-right {
    display: flex;
    margin-left: auto;
}

.topNav-right img {
    width: 42px;
    height: 45px;
    margin-right: 5px;
    margin-left: 5px;
}

.topComment {
    border-bottom: 1px solid lightgray;
}

.topComment h4{
    font-size: 12px;
    line-height: 1.5;
    color: rgb(100, 100, 100);
    padding: 5px;
    margin: 0;
    display: block;
}

.subNav ul{
    width: 100%;
    margin-bottom: 0;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.subNav li {
    display: block;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 12px;
}

.subNav a {
    display: inline-block;
    white-space: nowrap;
    color: black;
    font-size: 11px;
    padding: 12px 22px;
    font-weight: bold;
    text-align: center;
}

.topPic {
    font-weight: bold;
    color: white;
    margin-bottom: 12px;
    position: relative;
}

.topPic img {
    width: 100%;
    margin: 15px 0 15px 0;
}

.topPicInner {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
}

.topPic_ShopName{
    width: 196px;
    margin: 0;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.morePicBtn {
    height: 26px;
    padding: 5px 10px 5px 10px;
    border: solid 1px white;
    border-radius:  3px;
    display: block;
    color: white;
    font-size: 10px;
    font-weight: normal;
}

.topInfo {
    margin: 15px;
}

.infoWrapper {
    display : flex ;
    justify-content: space-between;
    align-items: start;
}

.smallInfoWrapper {
    height: 55px; 
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
}

.smallInfoWrapper p {
    margin-bottom: 4px;
}

.infoBind {
    display: flex; 
    color: rgb(100, 100, 100);
    font-size: 10px;
    margin-bottom: 0;
    margin-right: 10px; 
}

.infoBind img {
    width: 14px;
    height: 14px;
    margin: 0px 5px 0 0;
}

.availability {
    padding: 5px 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 3px;   
    display: flex;
    flex-direction: column;
}

.availability p {
    margin-bottom: 0;
}

.OKdate {
    font-weight: bold;
    color: grey;
    font-size: 10px;
    margin-bottom: 5px;
    vertical-align: top;
}

.circle_small {
    font-size: 9px;
}

.OKtime {
    font-size: 12px;
    color: rgb(100, 100, 100);
}

.reserveButton {
    padding: 10px;
    display: flex;
    border-top: solid 1px lightgray;
}


.bold_orange {
    color: orange;
    font-weight: bold;
}

.campain {
    margin-top: 12px;
    display: block;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.availability_bottom {
    display: flex;  
}

.reserveButton-fixed {
}

.phoneButton {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.phoneButton img {
    display: block;
    width: 25px;
    height: 25px;
}

.reserveButton {
    padding: 10px;
    display: flex;
}


.phoneButton p {
    display: block;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    flex-grow: 1;
}

.reserveButton > p {
    margin-bottom: 0;
    background-color: orange;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    border-radius: 4px;
    flex-grow: 7;

}

.calender {
    background-color: bisque;
    color: grey;
}

.calender h4 {
    color: grey;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
}

.calenderTable {
    margin: 0;
    width: 100%;
    border-color: grey;
    text-align: center;
    font-size: 10px;
    table-layout: fixed;
}

.calenderTable p {
    padding-bottom: 6px;
    margin-bottom: 0;
}

.calenderTable thead {
    text-align: center;
}

.calenderTable th {
    padding: 0 10px 3px 10px;
    text-align: center;
    font-weight: normal;
}

.saturday {
    color: skyblue;
}

.sunday {
    color: red;
}

.calenderTable tbody {
    background-color: white;
}

.calenderTable td {
    padding: 8px 10px;
    font-size: 12px;
    border: solid 1px grey;
}

.calenderTable td:first-child {
    border-left: none;
}

.calenderTable td:last-child {
    border-right: none;
}

.calenderDiscription {
    margin: 5px 10px;
    display: flex;
    font-size: 10px;
}

.shopDiscription {
    margin: 15px;
    color: grey;
    line-height: 1.5;
}

.shopDiscription h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    line-height: 1.4;
}

.shopDiscription p {
    margin-top: 0;
    padding-top: 10px;
    font-size: 12px;
    color: grey;
    line-height: 1.5;
}

.shop_subTitle {
    margin-bottom: 10px;
}

/* branch_#3_kodawari-block */

.kodawari {
    background-color: bisque;
    padding: 0px 15px 15px 15px;
}

.kodawari__h1_title {
    margin: 0;
    padding: 12px 0px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
}

.kodawari__h1-span {
    color: red;
}

.kodawari__item {
    margin-bottom:10px;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 1px orange;
}

.kodawari__img {
    width: 70px;
    height: 70px;
    /* margin-right: 10px; */
    display: block;
}

.kodawari__item-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.kodawari__h1 {
    margin: 0;
    padding: 0px 10px 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: grey;
    display: block;
}

.kodawari__p__red {
    padding: 0px 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
    color: red;
    display:block;
}

.kodawari__btn {
    padding: 12px 10px;
    margin: 0px 15px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kodawari__p {
    padding: 0px;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: grey;
    display:block;
}

/* recommendedCourse_ block */

.block-title {
    display: block;
    width: 100%;
    padding-left: 15px;
    margin: 0;
    line-height: 36px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: darkgrey;
}

.Menu {
    background-color: lightgrey;
}

.recommendedMenu {
    padding: 15px;
    background-color: lightgrey;
}

.recommendedMenu__subTitle {
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.recommendedMenu__wrapper {
    display: flex;
}

.recommendedMenu__item {
    margin-right: 10px;
    display: flex;
    flex-direction: column; 
}

.recommendedMenu__item:last-child {
    margin-right: 0;
    display: flex;
    flex-direction: column; 
}

.recommendedMenu__img {
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
}

.recommendedMenu__name--pickup {
    font-size: 14px;
    margin: 0;
}

.recommendedMenu__name {
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    margin: 0;
    color: grey;
}

.recommendedMenu__links {
    border-top: solid 1px grey;
    background-color: white;
}

.recommendedMenu__name--top {
    font-size: 14px;
    padding: 12px;
    margin: 0;
    font-weight: bold;
    color: grey;
    position:relative;
    vertical-align: middle;
}

.recommendedMenu__name--top::before {
    font-family: "Font Awesome 5 Free";
    content: "\f521";
    font-weight: 900;
    margin-right: 5px;
    color: gold;
}

.recommendedMenu__MenuNum::after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: bold;
    position:absolute;
    left: 40px; 
    font-size: 25px;
    color: #998e73;
}

.recommendedCourse__wrapper {
    padding: 15px;
    display: flex;
    border-bottom: solid 1px grey;
}

.recommendedCourse__img {
    width: 70px;
    height: 70px;
    margin-right: 12px;
    display: block;
}

.recommendedCourse__caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recommendedCourse__name {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bold;
    color: blue;
    display: block;
}

.recommendedCourse__sign {
    background-color: lightgrey;
    border-radius: 3px;
    color: grey;
    font-size: 10px;
    padding: 2px;
}

.recommendedCourse__price {
    margin-bottom: 0;
    font-size: 14px;
    color: black;
    font-weight: bold;
    display: block;
}

.recommendedCourse__price--base {
    margin-bottom: 0;
    color: black;
    text-decoration: line-through;
    font-size: 14px;
}

.recommendedCourse__price--discounted span {
    color: red;
}

.recommendedCourse__benefit {
    margin-top: 10px;
    background-color: lightgrey;
    border-radius: 3px;
    color: grey;
    padding: 2px;
    font-size: 10px;
    display: block;
}

.netCourseList__link {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.netCourseList__name {
    padding: 0;
    margin: 0;
    color: grey;
    font-weight: bold;
    display: block;
}

.recommendedMenu__linkGroup {
    display: flex;
    width: 80%;
    margin: 0;
    align-items: center;
}

.recommendedMenu__linkGroup::after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: bold;
    font-size: 25px;
    position:absolute;
    right: 12px;
    color: #998e73; 
}

.recommendedMenu__linkContaints {
    display: flex;
    align-items: center;
}

.recommendedMenu__links--first {
    margin-bottom: 15px;
    border-bottom: solid 1px grey;
}

.recommendedMenu__links--lastã€€{
    margin-bottom: 15px;
}

.recommendedMenu__linkContaints--right {
    margin-left: auto;
}

.recommendedMenu__MenuNum {
    display: block;
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: lightgrey;
    margin-right: 36px;
    margin-bottom: 0;
    border-radius: 8px;
    position: relative;
    color: #998e73;
}
