@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}


.topMessage {
    background-color: #eee;
    padding: 10px 10px;
    display: flex;

}

.topMessage h1{
    font-size: 15px;
    color: #1075bf;
    font-weight: bold;
    line-height: 1em;
    
}

.topMessage a{
    text-decoration: none;
}

.glyphicon-chevron-right {
    color: #666;
    vertical-align: middle;
}

