@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

/* html body {
    overflow: hidden;
    
} */

.topMessage {
    background-color: lightgray;
    
    padding: 10px 10px;

    /* width: 100%;
    margin: 0 -10%;  
    padding: 0 10%; */
}

.topMessage h3{
    font-size: 14px;
    color: steelblue;
    
}

.topMessage a{
    text-decoration: none;
}



